[Unit]
Description=train-schedule Web Site
Documentation=train-schedule
After=network.target

[Service]
Type=simple
User=jenkins
ExecStart=/opt/train-schedule/bin/www
Restart=on-failure
WorkingDirectory=/opt/train-schedule/

[Install]
WantedBy=multi-user.target
